docs/
buildServer.json
lector.code-workspace

# Swift Package Manager
.build/
.swiftpm/
/Package.resolved

# Secrets 
Secrets.xcconfig

# Xcode
xcuserdata/
*.xcuserstate
*.xcuserdatad
*.xcbkptlist
DerivedData/
.DS_Store

skills-lock.json
.agents/*
