<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FOUNDER_LIFETIME_PRODUCT_ID</key>
	<string>lector.founder.sub</string>
	<key>PRO_MONTHLY_PRODUCT_ID</key>
	<string>lector.pro.monthly</string>
	<key>PRO_YEARLY_PRODUCT_ID</key>
	<string>lector.pro.yearly</string>
	<key>WEB_APP_BASE_URL</key>
	<string>https://lector.thefndrs.com</string>
</dict>
</plist>
