<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>127.0.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Lector Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>org.idpf.epub-container</string>
				<string>public.plain-text</string>
				<string>net.daringfireball.markdown</string>
			</array>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>FOUNDER_LIFETIME_PRODUCT_ID</key>
	<string>lector.founder.sub</string>
	<key>PRO_MONTHLY_PRODUCT_ID</key>
	<string>lector.pro.monthly</string>
	<key>PRO_YEARLY_PRODUCT_ID</key>
	<string>lector.pro.yearly</string>
	<key>WEB_APP_BASE_URL</key>
	<string>https://lector.thefndrs.com</string>
</dict>
</plist>
